<h1>Clients</h1>
<p>
As a web designer, in your daily workflow, you often face the never-ending content revisions requests from your clients. Usually those changes are limited to some point but wouldn't it be easier if they can just do it themselves? It will save you and them precious time and also will keep you focused on current projects. In this article we will review some of the best practices used in Web design for content editing, even for people that have no idea of HTML but yet very powerful and simple to use.
</p>
