<div class="top-menu">     
	<a class="main-logo" href="#/home">&nbsp;</a>
	<div style="float: right;">
		<a class="login-link" href="#/login">login</a>
		<ul class="menu">
			<li><a ng-class="{active : getMenuClass('/home')}" href="#/home">Hello world</a></li>
			<li><a ng-class="{active : getMenuClass('/about-us')}" href="#/about-us">About Me</a></li>
			<li><a ng-class="{active : getMenuClass('/clients')}" href="#/clients">Clients</a></li>
			<li><a ng-class="{active : getMenuClass('/join-us')}" href="#/join-us">Join Us</a></li>
		</ul>
	</div>
</div>